/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    /*font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;*/
    font: normal 1.25rem/160% 'PT Sans', sans-serif;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
   /* margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;*/
    margin: 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/
/* ===== Numéro 3f ===== */

header {
    padding: 20px 0;
}

/* ===== Numéro 3a ===== */
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font: 700 2.5rem 'Nunito', sans-serif;
    text-decoration: none;
    color: #444;
}

/* ===== Numéro 3c ===== */

.menu ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ===== Numéro 3d ===== */

.menu a {
    font: bold 0.875 'PT Sans', sans-serif;
    color: #000;
    padding: 5px 10px;
    border: 2px solid transparent;


    /*Text ne peut pas être raccourci*/
    text-transform: uppercase;
    text-decoration: none;

}


/* ===== Numéro 3e ===== */

.menu a:hover {
    border: 2px solid #000;
}




/* ===== Numéro 4a ===== */

.hero {
    background: url('../images/hero.jpg') no-repeat center right/cover;
}


/* ===== Numéro 4b ===== */
.hero .wrapper {
    display: flex;
    min-height: 650px;
    flex-direction: column;
    justify-content: center;
}

/* ===== Numéro 4c ===== */
.hero .contenu {
    max-width: 50%;
    color: #FFF;
}

/* ===== Numéro 4d ===== */

.hero h1 {
    font:  100 6.25rem/100% 'Nunito', sans-serif;
    margin: 0 0 20px;
    color: #F2545B;
}

/* ===== Numéro 5c ===== */

.athletes {
    padding: 100px 0;
}
/* ===== Numéro 5a ===== */

.athletes h2 {
    letter-spacing: 0.05em;
    font: bold 3.125rem 'Nunito', sans-serif;
    margin: 0 0 50px;
}


/* ===== Numéro 5b ===== */

.athletes p {
    margin: 0 0 50px; 
}

/* ===== Numéro 5d ===== */
.athletes-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {
    max-width: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
    grid-column: 1/3;
    grid-row: 1/3;
}


/* ===== Numéro 6a ===== */
footer {

}

footer .wrapper {

}

/* ===== Numéro 6b ===== */
/*
.menu-social {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
*/


/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {

}

/* ===== Numéro 6d ===== */
/*
.menu-social a:hover {
    background: gray;
}
*/